* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared sytle */

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.btn {
    background-color: #469165;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    height: 45px;
    color: white;
    padding: 0 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #4fb87b;
    box-shadow: 5px 5px 10px grey;
}

.btn-play {
    background-color: transparent;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid;
    border-radius: 5px;
    height: 44px;
    color: white;
    padding: 0 16px;
    text-align: center;
    cursor: pointer;
}

.btn-play:hover {
    background-color: #4fb87b;
    box-shadow: 5px 5px 10px grey;
}

/* main style */

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}

.menu ul {
    list-style-type: none;
    display: flex;
    gap: 32px;
    font-weight: 500;
    cursor: pointer;
}

#banner {
    background: url(assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-content {
    max-width: 1360px;
    width: 85%;
    padding: 115px 0;
    text-align: center;
}

.banner-content h6 {
    background-color: white;
    border: none;
    border-radius: 25px;
    width: 229px;
    margin: 0 auto;
    color: #469165;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding: 12px;
}

.banner-content h1 {
    text-align: center;
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    color: white;
    margin-top: 16px;
}

.banner-content p {
    font-size: 18px;
    line-height: 24px;
    color: white;
    text-align: center;
    margin: 16px;
}

#notes-container {
    width: 85%;
    margin: 0 auto;
    text-align: center;
}

#notes-container h1 {
    font-size: 48px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 16px;
}

#notes-container p {
    line-height: 20px;
    color: #627382;
    font-size: 16px;
}

.notes {
    display: flex;
    gap: 30px;
}

.card {
    background-color: #fff;
    margin-bottom: 80px;
    margin-top: 80px;
    padding: auto 0;
    height: 300px;
    width: 300px;
    align-content: center;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

.icon {
    width: 60px;
    height: 60px;
    background: #ff4d4d;
    color: #fff;
    border-radius: 50%;
    
}
.notes h3{
    font-size: 24px;
    font-weight: 600;
    margin:20px auto ;
}
.notes p{
    font-size: 16px;
    color: #627382;
    line-height: 30px;
}
