* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared sytle */

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.btn {
    background-color: #469165;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    height: 45px;
    color: white;
    padding: 0 16px;
    cursor: pointer;
    margin: 20px;
    text-align: center;
}

.btn:hover {
    background-color: #4fb87b;
    box-shadow: 5px 5px 10px grey;
}

.btn-play {
    background-color: transparent;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid;
    border-radius: 5px;
    height: 44px;
    color: white;
    padding: 0 16px;
    text-align: center;
    cursor: pointer;
    margin: 20px;
}

.btn-play:hover {
    background-color: #4fb87b;
    box-shadow: 5px 5px 10px grey;
}

.container {
    max-width: 1360px;
    width: 85%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

/* main style */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    max-width: 1360px;
    margin: 0 auto;
}

.menu ul {
    list-style-type: none;
    display: flex;
    gap: 32px;
    font-weight: 500;
    cursor: pointer;
}

#banner {
    background: url(assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-content {
    max-width: 1360px;
    width: 85%;
    padding: 115px 0;
    text-align: center;
}

.banner-content h6 {
    background-color: white;
    border: none;
    border-radius: 25px;
    width: 229px;
    margin: 0 auto;
    color: #469165;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding: 12px;
}

.banner-content h1 {
    text-align: center;
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    color: white;
    margin-top: 16px;
}

.banner-content p {
    font-size: 18px;
    line-height: 24px;
    color: white;
    text-align: center;
    margin: 16px;
}

#notes-container {
    width: 85%;
    margin: 0 auto;
    text-align: center;
}

#notes-container h1 {
    font-size: 48px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 16px;
}

#notes-container p {
    line-height: 20px;
    color: #627382;
    font-size: 16px;
}

.notes {
    display: flex;
    gap: 30px;
}

.card {
    background-color: #fff;
    margin-bottom: 80px;
    margin-top: 80px;
    padding: auto 0;
    height: 300px;
    width: 300px;
    align-content: center;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

.card:hover {
    background-color: #0000001a;
}

.icon {
    width: 60px;
    height: 60px;
    background: #ff4d4d;
    color: #fff;
    border-radius: 50%;

}

.notes h3 {
    font-size: 24px;
    font-weight: 600;
    margin: 20px auto;
}

.notes p {
    font-size: 16px;
    color: #627382;
    line-height: 30px;
}

#second-brain {
    margin: 0 auto;
    padding: 120px;
}

.second-brain-container {
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
}

.brain {
    height: 600px;
    width: 600px;
    border-radius: 12px;
}

.solution h6 {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #469165;
    margin-bottom: 16px;
}

.solution h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}

.decription {
    font-size: 16px;
    color: #627382;
    line-height: 20px;
    margin-bottom: 40px;
}

.check p {
    margin-bottom: 20px;
}

#early-access {
    border-radius: 15px;
    width: 85%;
    max-width: 1360px;
    background-color: #F7F6F2;
    padding: 40px 80px;
    margin: 130px auto;
}

.access-contant {
    margin: 0 auto;
    text-align: center;
}

.access-contant h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.access-contant p {
    color: #627382;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
}

#footer-container {
    padding: 80px 0 50px;
    color: #FAFAFA;
    background-color: #001931;
    display: flex;
    flex-direction: column;
    gap: 130px;
    margin: 0 auto;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 85%;
    max-width: 1360px;
    height: 70px;
}

.social-link {
    font-size: 20px;
    font-weight: 500;
}

.social-icon {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.copy {
    text-align: center;
    font-size: 16px;
    color: #FAFAFA;
}

.footer-content hr {
    width: 1360px;
}

hr {
    width: 85%;
    margin: 0 auto;
}